.ChatRoom__container {
  height: 100%;
}

.ChatRoom__innnerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ChatRoom__header {
  background-color: #e3e3e3;
}

.ChatRoom__body {
  background-color: #fff8f7;
  flex: 1;
  // background-color: yellow;
  // overflow: scroll;
}

.ChatRoom__footer {
  height: 70px;
}

.ChatBody__conversationRow {
  // display: flex;
  // align-items: flex-end;
  // position: relative;
}

.ChatBody__conversationRow_left {
  display: flex;
  // height: 100px;
}

.ChatBody__conversationRow_right {
  display: flex;
  // height: 100px;
  justify-content: end;
}

.ChatBody__conversatoinRow_bubble {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}