.Home__container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.Home__innerContainer {
  background-color: white;
  height: 90%;
  width: 100%;
  border-radius: 20px;
  // overflow: hidden;
  // border: 1px solid rgb(233, 233, 233);
}

.Home__row {
  // background-color: red;
  height: 100%;
}

.Home__col {
  // background-color: red;
  padding: 0px;
}

.bg-red {
  background-color: red;
}

.Home__conversationSearch {
  // height: 40px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Home__conversationSearch input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-width: 0px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  padding-left: 17px;
  outline: none;
}

.Home__conversationList {
  height: 100%;
}

.Home__leftColumnOuter {
  background: linear-gradient(135deg, #b8fffa, #a1ffba);
  // background: -webkit-linear-gradient(45de);
  // margin-bottom: 0px;
  height: 100%;
  position: relative;
  border-radius: 20px;
}

.Home__rightColumnInner {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
}